.filter {
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0 .25rem;
  padding: .5rem 0.75rem;
  transition: border .1s ease;
}

.filter.active, .filter:hover {
  border-color: #000;
}

.filter.active {
  cursor: default;
}