.item
  align-items: center
  border-bottom: 1px solid #000
  display: flex
  padding: 1rem
  position: relative
  justify-content: space-between

  &-mask
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 1
    width: 100%

  &:last-child
    border-bottom: none

  .status
    position: relative
    z-index: 2

  .actions
    position: relative
    z-index: 2

  .title
    &.completed
      text-decoration: line-through

  .delete
    background: red
    margin-left: 1rem