.item
  align-items: center
  border-bottom: 1px solid #acacac
  display: flex
  padding: 1rem
  position: relative
  justify-content: space-between

  &::before
    content: ''
    height: 100%
    left: 0
    top: 50%
    transform: translateY(-50%)
    position: absolute
    width: .3rem

  &-mask
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 1
    width: 100%

  &.high
    box-shadow: 0 -5px 5px -5px rgba(red, .3) inset

    &::before
      background: red

  &.medium
    box-shadow: 0 -5px 5px -5px rgba(orange, .4) inset

    &::before
      background: orange

  &.low
    box-shadow: 0 -5px 5px -5px rgba(green, .4) inset

    &::before
      background: green

  &:last-child
    border-bottom: none

  .status
    position: relative
    z-index: 2

  .actions
    position: relative
    z-index: 2

  .title
    position: relative
    z-index: 2

    &.completed
      text-decoration: line-through

  .delete
    background: red
    margin-left: 1rem