body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

.container
  align-items: center
  height: 100vh
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: center

ul
  padding: 0
  margin: 0

button
  background: #4C8FFB
  border: 1px #3079ED solid
  border-radius: 2px
  box-shadow: inset 0 1px 0 #80B0FB
  cursor: pointer
  color: white
  font-weight: bold
  font-size: 9pt
  outline: none
  padding: 5px 10px


button
  &:hover
    background: #3F83F1
    border: 1px #2F5BB7 solid
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1
    color: #333333

form
  align-items: center
  display: flex
  margin-bottom: 1rem
  justify-content: space-between
  width: 500px

.textfield
  width: 80%
  height: 20px

.empty-list
  border: 1px solid #000
  display: flex
  padding: 1rem 0
  justify-content: center
  width: 500px
