body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

.container
  align-items: center
  background: #f1f1f1
  height: 100vh
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: center

.wrapper
  width: 500px

ul
  padding: 0
  margin: 0

button
  background: #4C8FFB
  border-radius: 3px
  border: none
  cursor: pointer
  color: white
  font-weight: bold
  font-size: 9pt
  outline: none
  padding: 5px 10px


button
  &:hover
    opacity: .7

form
  align-items: center
  display: flex
  margin-bottom: 1rem
  justify-content: space-between

.textfield
  width: 80%
  height: 20px

.empty-list
  border-radius: 4px
  background: #fff
  border: 1px solid #000
  display: flex
  margin-bottom: 1rem
  padding: 1rem 0
  justify-content: center

.info-wrapper
  align-items: center
  margin: 1rem 0
  display: flex
  justify-content: space-between

  .toggle-all
    align-items: center
    display: flex

  .label
    margin-right: .5rem

  .left-count
    .count
      color: green

      &.red
        color: red

.checkbox, .label
  cursor: pointer

.checkbox
  margin: 0